Files/Common/system_details.json
Scripts_run/Manual_Monitoring/Document/
Scripts_run/Manual_Monitoring/Documents/
Scripts_run/Manual_Monitoring/Screenshots/
Scripts_run/Monday_Patching/Output/
Files/Common/Perimeter_Lists/*.xlsx




